body{
  font-family: Optima, Times New Roman;
  }
p{
  color:black;
  font-size: 200%;
}
.name{
  text-align: center;
}
.contact_info{
  text-align: center;
}
.objective{
  text-align: center;
}
.education{
  text-align: left;
}
.work{
  text-align: center;
}
h3{
  margin:1px;
}
li{
  font-size: 250%;
}

