body{
  font-family: Optima, Times New Roman;
  }
p{
  color:black;
  font-size: 200%;
}
img{
  border-radius: 8px
  border="2"
}

.picture-frame{

   padding:1px;
   border:1px solid black;
}
.contact_info{
  border: 1px solid black;
  border-left-style:none;
  border-right-style:none;
  border-bottom-style:none;
  text-align: left;
}
.objective{
  border:1px solid black;
  border-left-style:none;
  border-right-style:none;
  border-bottom-style:none;
  text-align: left;
}
.education{
  border: 1px solid black;
  border-left-style:none;
  border-right-style:none;
  text-align: left;
}
.work{
  text-align: left;
}
.soft_skills{
  border: 1px solid black;
  border-left-style:none;
  border-right-style:none;
  border-bottom-style:none;
  text-align: left;
}
  
h3{
  margin:1px;
}
li{
  font-size: 200%;
}

