body{
  font-family: Optima, Times New Roman;
  }
p{
  color:black;
  font-size: 200%;
}
.name{
  text-align: left;
}
.contact_info{
  border-style:solid;
  border-medium-width: .5x;
  
  
  text-align: left;
}
.objective{
  border:1px solid black;
  text-align: left;
}
.education{
  text-align: left;
}
.work{
  text-align: left;
}
h3{
  margin:1px;
}
li{
  font-size: 250%;
}

